@import 'src/assets/styles/colors';

.pill {
    background-color: $primaryTeal;
    border-radius: 5px;
    font-size: 0.625rem;
    font-weight: 600;
    padding: 5px 8px;
    text-transform: uppercase;
    width: fit-content;
}