@import 'src/assets/styles/colors.scss';

.card {
	padding: 10px 15px;
	max-width: 50%;
	margin: 20px auto;
	border: 1px solid $blueLight;
	box-shadow: 5px 5px $secondaryBlue;
	border-radius: 15px;
	color: $blueDark;
}

.logo {
	display: block;
	width: 100px;
}

.container {
	display: flex;
	align-items: center;
	gap: 10px
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.title {
	margin: 0;
}

.link {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:hover {
		color: $blueLight;
	}
}

.arrowIcon {
	width: 50px
}

