@import 'src/assets/styles/colors.scss';

.hubList {
	flex: 2;
}

.card {
	padding: 10px 15px;
	margin: 20px 0;
	border: 1px solid $blueLight;
	box-shadow: 5px 5px $secondaryBlue;
	border-radius: 15px;
	color: $blueDark;
}

.logo {
	display: block;
	width: 100px;
}

.container {
	display: flex;
	align-items: center;
	gap: 10px
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.title {
	margin: 0;
}

.link {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:hover {
		color: $blueLight;
	}
}

.arrowIcon {
	width: 50px
}

.stats {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	dd {
		font-weight: 400;
		font-size: 1.5rem;
		margin: 0;
		text-align: left;
	}

	dt {
		text-transform: uppercase;
		font-size: 0.65rem;
	}
}