.card {
	padding: 10px 15px;
	margin: 20px;
	border: 1px solid;
	border-radius: 15px;	
}

.logo {
	display: block;
	width: 100px;
}

.container {
	display: flex;
	align-items: flex-start;
	gap: 10px
}

.content {
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0
}
