@import 'src/assets/styles/colors';

.card {
	border: 1px solid $blueLight;
	border-radius: 15px;
	box-shadow: 5px 5px $secondaryBlue;
	color: $blueDark;
	margin: 20px 0;
	padding: 10px 15px;
}

.logo {
	display: block;
	width: 100px;
}

.title {
	font-weight: 600;
	margin-top: 10px;
}

.link {
	&:hover {
		color: $blueLight;
	}
}

.arrowIcon {
	width: 30px
}

.stats {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	dd {
		font-size: 1.5rem;
		font-weight: 400;
		margin: 0;
		text-align: left;
	}

	dt {
		font-size: 0.65rem;
		text-transform: uppercase;
	}
}